.detail {
  margin-top: 40px;
  img {
    width: 100%;
    height: 200px;
  }
  .tags {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    .tag {
      display: inline-block;
      border-radius: 13px;
      border: 1px blueviolet solid;
      background-color: blueviolet;
      color: #fff;
      padding: 0 10px;
      font-size: 12px;
      margin: 0 5px;
      line-height: 26px;
    }
  }
  .all {
    padding: 0 10px;
    .topWrap {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      line-height: 30px;
      .left {
        font-size: 14px;
        font-weight: bold;
      }
      :global {
        .adm-button {
          // color: #000;
          font-weight: bold;
        }
      }
    }
    .item {
      border: 2px blueviolet solid;
      background-color: #fff;
      width: 100%;
      height: 40px;
      border-radius: 5px;
      line-height: 40px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    :global {
      .am-grid-item-content {
        height: 40px;
        padding: 5px 0;
      }
    }
    .item:active {
      background-color: blueviolet;
    }
  }
}
